/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Pillars CONTENT
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */
.pillars {
  background-color: #f8f8f8;
  border-radius: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
}

#countryView .col-lg-4 {
  margin-bottom: 10px;
  text-align: center;
}

#countryView .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

#countryView h1 {
  font-size: 21px;
  text-align: right;
  margin-top: 12px;
  font-weight: 750;
  letter-spacing: 1.2px;
}

#countryView h2 {
  margin-top: 10px;
}

#countryView h3 {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 0px;
}

#countryView h5 {
  font-size: 14px;
  text-align: center;
}

#countryView p {
  font-size: 12px;
  text-align: center;
}

.spiderbox {
  padding: 10px;
  background-clip: content-box;
  border-radius: 25px;
}

.spiderbox:hover {
  cursor: pointer;
}

.climate {
  color: #0DB14B;
}

.blue {
  color: #11878D;
}

.digital {
  color: #F58220;
}

.pillar-bar {
  margin: 0%;
  text-align: center;
  color: white;
  font-size: 12px;
}

#countryProfile {
  margin-right: 0;
  padding-right: 0;
}

.coutryInfoBar #countryRelief, #countryProfile {
  max-height: 150px;
  overflow: hidden;
}

#countryImage, #countryRelief {
  padding: 0;
  overflow-x: hidden;
}

.countryInfoBar {
  background-image: linear-gradient(to right, #d0cfcf, #F4F5F8 75%);
}

.countryInfoBar img {
  max-height: 150px;
  overflow-x: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

#countryStories {
  max-height: 150px;
  overflow-y: scroll;
  text-align: left;
}

#countryProfileInfo {
  font-size: 11px;
}

#countryStories {
  margin-left: 0;
  padding-left: 0;
}

#countryStories p {
  text-align: left;
  font-size: 10px;
  line-height: 1.1;
  text-decoration: underline;
  margin-bottom: 8px;
  color: #666666;
}

.countryInfoBar h4 {
  font-size: 16px;
  font-weight: 800;
  margin-top: 6px;
}

.countryViewTitle {
  min-height: 200px;
}

/*
-----------------------
SCSS
------------------*/
:root {
  --color-primary: #E9ECF6;
  --color-primary-light: #E9ECF6;
  --color-primary-dark: #0f3057;
}

/* 
Style-guide: https://levelup.gitconnected.com/css-only-custom-styled-select-99b1b022bfbf
*/
.input__container {
  width: 100%;
  margin: 0 auto;
}
.input__select select {
  cursor: pointer;
  border-radius: 15px;
  background-color: var(--color-primary-light);
  border: none;
  border-bottom: 1.5px solid black;
  color: black;
  padding: 10px;
  transition: color 0.3s ease, background-color 0.3s ease, border-bottom-color 0.3s ease;
  outline: none;
  text-align-last: center;
  text-indent: 15px;
}
.input__select select:hover {
  color: var(--color-primary-light);
  background-color: #acaeb6;
  border-bottom-color: var(--color-primary-light);
  border: none;
  outline: none;
}

.input__big {
  font-size: 26px;
  height: 50px;
  width: 100%;
  margin-bottom: 10px;
  margin-left: 0;
  text-align: center;
}

.input__small {
  font-size: 12px;
  height: 30px;
  width: 60%;
  margin: 0;
  text-align: right;
}

select#type option[value=Colibri] {
  background-image: url("../images/infoImages.jpg");
  color: red;
}

#countryCategory {
  margin-top: 5px;
}

/*# sourceMappingURL=countryView.css.map */
